.flex-container {display: flex;
}
.nav {
    display: flex;
    justify-content: space-between;}

.footer {display: flex;
    justify-content: space-between;}

    .logo   {
    display: flex;
    margin: auto;
}
.middle {
    display: flex;
}
.under-search {
    display: flex;
}
.buttons-under {
    margin: auto;
    padding-top: 10px;}
.buttons-under-actual{
    background-color: #f2f2f2; 
    text-decoration: none;
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 3px;
}
.form-parent    {
    display: flex;
}
.form {
    margin:auto;
    padding-bottom: 15px;
}
.sign-in {
    background-color: rgb(62, 137, 235);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 10px 12px;
    font-weight: bold;
    border-radius: 2px;

}
.left-nav {display: flex;
    justify-content: flex-start;
    padding:5px
}
.left-footer {display: flex;
    justify-content: flex-start;
    padding:5px}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

}
.right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.google-butt {
    width:35px;
    height:35px;
    align-self: center;
    margin-right: 10px;
}
.google-button {
  
    align-self: center;
    margin-right: 10px;
    padding-top: 100px;
    padding-bottom: 20px;
}
.text {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: gray;
    padding: 0 1.4em 0 0
}
.text a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    background-color: #f2f2f2;
    margin-top: auto;
    width: 100%;
    bottom: 0px;
    padding-top: 10px;
}
input {
    border-radius: 15px;
    width: 400px;
    height: 30px;
    border: 1px solid #f2f2f2;
    background-color: white;
    background-image: url('search-left.png'), url('search-right.png');
    background-position: 10px, 370px; 
    background-repeat: no-repeat, no-repeat;
}